body{
	
	margin-left: 0px;
	margin-right: 0px;
	
}

h3, h2, h1{
	font-family: oswald;

}
h2{
	font-size: 28pt;
}

.row{
	margin-left: 0px;
	margin-right: 0px;
}



/*Encabezado-----------------------------------------------------------------------------------------------------------------------------------------*/

@media(min-width: 576px){
	.padre-header{
		height: 35vh;
	}
}
@media(min-width: 768px ){
	.padre-header{
		height: 18vh;
	}

}
@media(max-width: 576px){
	.padre-header{
		height: 50%;

	}
}
.titulo-movil h1{
	font-size: 1em;
	text-align: center;
	border-bottom: 2px solid rgb(22, 22, 22);

}

.img-logo{
	text-align: right;
}
.img-logo img{
	width: 70%;
	height: auto;
}
@media(max-width: 576px){
	.img-logo img{
		width: 30%;
		height: auto;
	}
}


.nombre-sitio h1{
	font-family: 'oswald', sans-serif;
	font-size: 2rem;
	max-width: 450px;
}
.img-alcaldia img{
	width: 90%;
}
.img-escudo img{
	width: 75%;
}

.banner{
	height: 85vh;
	overflow: hidden;
	z-index: 10;
	padding-left: 0px;
	padding-right: 0px;

}
.fondo-banner{
	width: 100%;
	height: 82vh;
	background-size: cover;
	background-position: center;


}
@media (max-width: 768px){
	.banner{
		height: 65vh;
	}
	
}
@media(max-width: 320px){
	#s{
		width: 170px;
	}
}
.buscar{
	position: fixed;
	z-index: 40;
	top: 40%;
}
.traductor{
	position: fixed;
	z-index: 40;
	top: 50%;
}

.accesibilidad{
	position: fixed;
	z-index: 40;
	top: 60%;
}
@media(max-height:450px){
	.buscar{
		top:30%;
	}
	.accesibilidad{
		top: 70%;
	}
}
.text-in-img{
	position: absolute;
	z-index: 10;
	top: 10%;
	color: #fff;
	font-family: Open Sans;
	max-width: 300px;
	background-color: rgba(0,0,0,.6);
	padding: 10px;
}
.navegacion{
	z-index: 30;
	
	margin-bottom: -44px;
}
@media(max-width: 992px){
	.navegacion{
		margin-bottom: -56px;

	}
}


.banner-news{
	width: 100%;
}
.navegacion-news{
	width: 100%;
	background-color: rgb(0,147,221);
	position: relative;
	margin-bottom: 70px;

}
.navbar{
	background-color: rgba(0,147,221,.8);

}


#navbarNavDropdown ul li a{
	color: #FFF;
	font-family: oswald;
	text-decoration: none;
	padding: 10px;
	font-size: 14pt;
	padding-right: 25px;
	padding-left: 25px;


}
@media(max-width:  992px){
	#navbarNavDropdown ul li {
		margin-top: 20px;
	}
}


.submenu{
	background-color: rgb(0,147,221);
}

.servicios{
	height: 100vh;
	

}
.news{
	height: 100vh;
}
@media(max-width: 992px){
	.news{
		height: 100%;
	}

}
@media(max-width: 768px){
	.servicios{
		height: 100%;
	}
}
.img-degradado {
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;

}

.nuestra-entidad{
	z-index: 10;
	font-family: oswald;
}
.tr{
	background-color: #0093DD;
	font-family: oswald;
	height: 270px;
}
.tr div a{
		background-color: #FFE100;
		padding-left: 20px;
		padding-right: 20px;
		font-size: 18pt;
		color: #000;
		text-decoration: none;
}
.tr div a:hover{
	transition: .5s;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-left: 25px;
	padding-right: 25px;
}
.cont-tr{
	height: 120px;
}

/*Estilos de nuestra entidad----------------------------------------------------------------------------------------------------*/

.ent-logo img{
	width: 20%;

}
.menu-ent{
	height: 70%;

}
.menu-ent ul{
	height: 90%;
	overflow: auto;
}


.menu-ent ul li{
		list-style: none;
	
}

.menu-ent ul li a{
	text-decoration: none;
	display: block;
	font-family: Open Sans;
	font-size: 18pt;
	margin-left: 10px;
	margin-right: 10px;
	background-color: rgb(0,147,221);
	border-radius: 5px;
	padding: 5px;
	text-align: center;
	width: 170px;
	}

.menu-ent ul li a:hover{
	background-color: #fff;
	border-radius: 10px;
	font-size: 18pt;
	color: #000;
	

	}

.menu-ent ul li a{
	color: #fff;
	text-decoration: none;
}

.menu-ent ul li a i{
font-size: 30pt;
}

.menu-ent ul li a:hover{
	color: #000;
	text-decoration: none;
}

@media(max-width: 768px){

	.menu-ent ul li a{
	width: 250px;
	background-color: rgb(0,147,221);
	padding: 5px;
	margin-bottom: 1px;
	border-radius: 5px;
	}

	.menu-ent ul li a i{
	font-size: 15pt
	}

}	

/*Estilos sección de noticias ------------------------------------------------------------------------------------------------------------------*/	

.actualidad{
	font-family: oswald;
}

.redes{
	background-color: #0093DD;
}
.redes ul li{
	display: inline-block;
	padding: 5px;
	list-style: none;
}
.redes ul li a, .redes ul li button{
 background: #fff;
 cursor: pointer;
   border-radius: 2em;
  -moz-border-radius: 2em;
  -webkit-border-radius: 2em;
  color: #000;
  display: inline-block;
  border: none;
  font-weight: bold;
  line-height: 2em;
  margin-right: 15px;
  text-align: center;
  width: 2em; 
  text-decoration: none;
  font-size: 22pt;
}
.redes ul li a:hover{
	color: #0093DD;
}
.redes ul li button:hover{
	color: #0093DD;
}
@media(max-width: 768px){
	.redes ul{
		display: inline-flex;
		justify-content: space-between;
	}
}
.encuentranos{
	font-family: oswald;
	height: 100vh;
}
@media(max-height: 465px){
	.encuentranos{
		height: 100%;
	}
}
.pie{
	background-color: #000;
	color: #fff;
}
.mapp-layout{
	width: 768px !important;
}
@media(max-width: 768px){
	.mapp-layout{
		width: 100% !important;
	}
}

/* --- Barra de paginación-----------------------------------*/

.page-numbers{
	margin-right: 5px;
	margin-left: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 15px;
	text-decoration: none;
	font-size: 14pt;
	background-color: #F4F4F4;
	border-radius: 5px;
	
}
.page-numbers:hover{
		background-color: #3A67A6;
		height: 44px;
		border-radius: 5px;
		color: white;
		text-decoration: none;
}
.current{
	background-color: #5291D9;
	height: 44px;
	border-radius: 5px;

}

/*-------------------------------------------------------------------*/
.menu-fixed {
	position:fixed;
	z-index:20;
	width: 100%;
	top:-16px;
	background-color: rgb(0,147,221);
	box-shadow:0px 4px 3px rgba(0,0,0,.5);
}
.click{
    background-color: rgb(0,147,221);
    color: #fff;
	border:none;
	border-radius: 5px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	z-index: 999999;
-webkit-box-shadow: -2px 0px 7px -3px rgba(0,0,0,0.78);
-moz-box-shadow: -2px 0px 7px -3px rgba(0,0,0,0.78);
box-shadow: -2px 0px 7px -3px rgba(0,0,0,0.78);
}
.click:hover{
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 12px;
	padding-right: 12px;
	transition: .2s;
}


/*Accesibilidad*/

.accessability_container{
	display: none;
	z-index: 1000;
}
   
button.close_container{
 	display: none !important;
 }   
.a_module_title{
	margin-top: 30px;
	text-align: center;
}


/*carrusel de tarjetas-----------------------------*/
/* carousel */

/* equal card height */
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
   width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left, 
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}


/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}
/* End carousel */

/*------------------------------------------------------*/	

.my-slider div div p{
	color: #FFF;
	font-family: open Sans;
}
.my-slider div div h3{
	color: #FFF;
}


/*Formulario de busqueda------------------------------------------------------------------------------------------------*/

#searchform{
	margin-top: 3px;
}
#search-4 {
	list-style: none;
}
#searchsubmit{
	border: none;
	background-color: rgb(0,147,221);
	border-radius: 2px;
	color: 	#fff;
	padding: 4px;
	cursor: pointer;
	-webkit-box-shadow: -2px 0px 7px -3px rgba(0,0,0,0.78);
-moz-box-shadow: -2px 0px 7px -3px rgba(0,0,0,0.78);
box-shadow: -2px 0px 7px -3px rgba(0,0,0,0.78);
}
/*------------------------------------------------------------------------------------------------------------------------*/

/*Estilos de la barra de traducción--------------------------------------------------------------------------------------*/

.skiptranslate{
	margin-left: 5px;
}
#glt_widget-3{
	list-style: none;
}


/*migas de pan------------------------------------------------------------------*/

.breadcrumbs a{
	text-decoration: none;
	color: rgb(0,147,221);
}
.breadcrumbs a:hover{
	color: rgb(8, 64, 93);
}
.post.post-page.current-item{
	color: grey;
}
.post.post-post.current-item{
	color: grey;
}
.category.current-item{
	color: grey;
}
.fa.fa-caret-right{
	color:  rgb(17, 106, 152);
}

/*botones de compratir en redes*/

.sfsiaftrpstwpr{
	background-color: #f8f9fa ;
	border-radius: 4px;
	padding-left: 10px; 
	display: flex;
	justify-content: center;
	float: none !important;

}
.sfsiplus_footerLnk{
	display: none;
}


/*footer*/


.slider-footer div a img{
	width: 100px;
	height: 50px;
}

/*tarjetas de noticias*/

.link-tarjeta {
	
	color: #000;
}
.link-tarjeta:hover{
	color: #000;
}
.trj-noticias:hover{
	background-color: #f8f9fa;
	transition: .3s;
	font-weight: bold;
	color: #000;
	-webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.51);
-moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.51);
box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.51);
}
.link-tarjeta img:hover{
		opacity: 0.5;
		transition: .2s;
}
.ver-mas-noticias{
	background-color: rgb(0,147,221);
	color: #Fff;
	font-family: oswald;
	padding: 5px;
	border-radius: 3px;

}
.ver-mas-noticias:hover{
	padding-left: 10px;
	padding-right: 10px;
	transition: .3s;
	color: #fff;
		-webkit-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.51);
-moz-box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.51);
box-shadow: 0px 2px 7px 0px rgba(0,0,0,0.51);
}
.ver-mas-search{
	background-color: rgb(0,147,221);
	color: #fff;
	font-family: oswald;
	padding: 8px;
	border-radius: 5px;

}
.ver-mas-search:hover{
	padding: 10px;
	text-decoration: none;
	color: #fff;
	transition: all .3s;
}
.cont-search:hover{
	background-color: #f8f9fa;
}
.titulo-consejos{
	background-color: rgb(0,147,221);
	padding: 3px;
	border-radius: 3px;
	color: #fff;
	text-align: center;

}

#tel{
	display: none;
	padding: 5px;
	font-family: oswald;
	font-size: 1.5em;
	color: white;	
}
.noti-vm{
	background-color: rgb(0,147,221);
	border: none;
	color: white;
	border-radius: 2px;
	cursor: pointer;
}